.right {
    width: 70%;
    float: left;
    margin: 10px;
}

#title {
    border-bottom: 1px solid gray;
}

.right .item {
    position: relative;
    width: 100%;
    margin: 20px;
    padding-bottom: 15px;
    background: linear-gradient(to right, #EBEBEB, gray) no-repeat right bottom;
    background-size: 0 2px;
    transition: background-size .5s;
}

.right .item:hover {
    background-size: 100% 2px;

    background-position-x: left;
}

.right .content {
    display: flex;
    justify-items: center;
}

.right .resultIcon {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    border-radius: 50%;
}


.right .plane {
    max-width: 320px;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 31px;
    margin: 5px;
}

.right .time {
    color: gray;
    line-height: 31px;
    margin: 5px;
}

.right .group {
    display: inline-block;
    color: gray;
    font-size: 14px;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 31px;
    margin: 5px;
}

.right .done {
    color: green;
    font-size: 24px;
}

.right Button {
    margin: 5px;
}

.right .edit_area {
    border: 1px solid gray;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    line-height: 48px;
    height: 300px;
    resize: none;
}
