.right{
    width: 70%;
    float: left;
    margin: 10px;
}
#title{
    border-bottom: 1px solid gray;
}
.right .item{
    width: 100%;
    margin: 20px;
    padding-bottom: 15px;
    background: linear-gradient(to right,#EBEBEB,gray) no-repeat right bottom;
    background-size: 0 2px;
    transition:  background-size .5s;
}

.right .item:hover{
    background-size: 100% 2px;

    background-position-x: left;
}
.right  .content{
    max-width: 400px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
}

.right  span{
    margin: 10px;
}
.right .time {
    color: gray;
    font-size: 14px;
}
.right .done{
    color:green;
    font-size: 24px;
}

.right  .btns{
    display: inline-block;
    float: right;

}
.right  button{
    margin: 5px;
}
.right .bt_done{
    background: #1677FF;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

.right  .bt_done:hover{
    background: #4096FF;
    cursor: pointer;
}

.right  .bt_edit{
    border: 1px solid skyblue;
    padding: 10px 20px;
    background: white;
    border-radius: 10px;
    margin: 1px;
}

.right  .bt_edit:hover{
    border: 2px solid skyblue;
    cursor: pointer;
    margin: 0;
}

.right  .bt_del{
    background: red;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

.right  .bt_del:hover{
    background: red;
    cursor: pointer;
}


.right .edit_area{
    border: 1px solid gray;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    line-height: 48px;
    height: 300px;
    resize: none;
}
.right .time{
    margin-left: 10px;
    font-size: 16px;
}

