.left{
    float: left;
    width: 25%
}
.left div{
    margin: 5px;
    text-align: center;
    font-size: 36px;
    padding: 30px;
    background: linear-gradient(to right,red,green) no-repeat left bottom;
    background-size: auto 1px;
    transition: all 0.3s;
}
.left div:hover{
    background: linear-gradient(to right,green,red) no-repeat right bottom;
    background-size: auto 2px;
    cursor: pointer;
}